<!DOCTYPE html>
<html lang="en">
<head>
    <title>Around The World Progress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     
    <!-- Main Css -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/loading-bar.css">

</head>




    <body>
            <div class="container">   
            
                <div class="jumbotron brown-bg"> 
                                                  
                        <div class="row text-center">
                            <div class="col-md-12">
                                    <h1 class="font-harry">Around The World Progress</h1>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                        <div id="progress"
                                                class="ldBar label-center"
                                                style="width:35%;height:35%;margin:auto"
                                                data-value="0"
                                                data-preset="circle"
                                        ></div>
                            </div>
                                
                        </div>
                        <div class="row text-center">
                                <div class="col-md-12">
                                        <h1 id="total"> 0 / 58,933,823</h1>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12 btn-group special btn-group-toggle text-center" data-toggle="buttons" style="padding-bottom: 20px;">
                                        <button id="red" type="button" class="btn btn-danger">Red</button>        
                                        <button id="green" type="button" class="btn btn-success">Green</button>                  
                                        <button id="blue" type="button" class="btn btn-primary">Blue</button>   
                                        <button id="yellow" type="button" class="btn btn-warning active">Yellow</button>
                                </div>
                        </div>
                        
            </div>
            <script src="/js/loading-bar.js"></script>
            <script src="/js/around-the-world/yellow.js"></script>
    </body>

</html>
